extends layout
block content
    #wrapper
        #mainpage-wrapper
            .container-fluid
                .row
                    .col-lg-8
                        h1.page-header Feedback
    include footer
 