extends layout
block content
    #wrapper
        #mainpage-wrapper
            .container-fluid
                .row
                    .col-lg-8
                        script.
                            var workflowData = #{result.company_name}
                        h1.page-header Feedback 
                            if workflowData === 4
                                span not found
                            else
                                span workflowData
    include footer
 