extends layout
block content
    .container
      .jumbotron.text-center
        h1
          span.fa.fa-lock
          |  Feedback application
        br
        a.btn.btn-default(href='/signin')
          span.fa.fa-user
          |  User Signin
 