.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li
                if loggedinUserRole === 'admin'
                    a(href='/companies')
                        i.fa.fa-user.fa-fw
                        | Companies
                    a(href='/consultants')
                        i.fa.fa-building.fa-fw
                        | Consultants
                    a(href='/consultant_companies')
                        i.fa.fa-paperclip.fa-fw
                        | Consultant companies                    
                    a(href='/feedbacks')
                        i.fa.fa-share-alt.fa-fw
                        | Customer Feedbacks
                    a(href='/feedback_requests')
                        i.fa.fa-rss.fa-fw
                        | Feedback requests                    
                    a(href='/signout')
                        i.fa.fa-sign-out.fa-fw
                        | Signout
                else
                    a(href='/feedback_requests')
                        i.fa.fa-rss.fa-fw
                        | Feedback requests                    
                    a(href='/signout')
                        i.fa.fa-sign-out.fa-fw
                        | Signout