.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li
                a(href='/consultants')
                    i.fa.fa-user.fa-fw
                    | Consultants
                a(href='/companies')
                    i.fa.fa-building.fa-fw
                    | Companies
                a(href='/consultant_companies')
                    i.fa.fa-paperclip.fa-fw
                    | Consultant companies                    
                a(href='feedback_link')
                    i.fa.fa-share-alt.fa-fw
                    | Send feedback link
                a(href='/feedbacks')
                    i.fa.fa-rss.fa-fw
                    | Customer Feedbacks                    
                a(href='/signout')
                    i.fa.fa-sign-out.fa-fw
                    | Signout